<!DOCTYPE html>
<html>
  <head>
    <title>Acumble</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <%= javascript_pack_tag 'application' %>  
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
      <%= ".msg-#{current_user&.id}" %> {
      background-color: #007bff !important;
      padding: 10px;
      }
      <%= ".cont-#{current_user&.id}" %> {
      display: flex;
        justify-content: flex-end
      }
    </style>
  </head>
  <body>
    <%= render "layouts/navbar" %>
    <%= yield %>

  </body>
      <script>
      // app/javascript/packs/application.js
function addFriend(userId) {
  console.log(10)
  let csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
  
  fetch(`/users/${userId}/add_friend`, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRF-Token': csrfToken,
    },
    body: JSON.stringify({ user_id: userId })
  })
  .then(response => response.json())
  .then(data => {
    if (data.success) {
      alert('Arkadaş eklendi!');
    } else {
      alert('Bir hata oluştu.');
    }
  })
  .catch(error => {
    console.error('Hata:', error);
  });
}
    </script>
</html>
