<h1>Giriş Yap</h1>
<%= form_with url: login_path, local: true do |f| %>
  <div>
    <%= f.label :email, "E-posta" %>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :password, "Şifre" %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.submit "Giriş Yap" %>
  </div>
<% end %>