<div class="home-container">
  <header class="home-header">
    <h1>CS(E)</h1>
    <p class="home-tagline">Acıbadem Üniversitesi için Sosyal Medya Uygulaması</p>
  </header>

  <div class="home-actions">
    <% if current_user %>
      <p>Hoş geldiniz, <strong><%= current_user.first_name %></strong>!</p>
      <%= link_to "Mesajlaşmaya Başla", rooms_path, class: "btn btn-primary" %>
      <%= link_to "Profil Sayfasına Git", profile_path, class: "btn btn-info" %>
      <%= button_to "Çıkış Yap", destroy_user_session_path, method: :delete, class: "btn btn-secondary" %>
    <% else %>
      <p>Hesabınıza giriş yapın ya da kaydolun ve eğlenceli bir sosyal medya deneyimine katılın!</p>
      <%= link_to "Giriş Yap", new_user_session_path, class: "btn btn-primary" %>
      <%= link_to "Kayıt Ol", new_user_registration_path, class: "btn btn-secondary" %>
    <% end %>
  </div>

  <% if current_user %>
  <div class="home-container" style="max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f9f9f9; border-radius: 10px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);">
    <h2>Diğer Kullanıcılar</h2>
    <div class="users-list" style="max-height: 300px; overflow-y: scroll; padding: 10px; border: 1px solid #ddd; border-radius: 5px; background-color: #fff;">
      <% @users.each do |user| %>
        <% unless user == current_user %>
          <div class="user-card" style="padding: 10px; margin-bottom: 10px; border: 1px solid #ddd; border-radius: 5px; background-color: #fdfdfd; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);">
            <p style="margin: 5px 0;"><strong><%= user.first_name %> <%= user.last_name %></strong></p>
            <p style="margin: 5px 0;"><%= user.email %></p>
            <%= link_to "Add Friend", add_friend_user_path(user), method: :get, class: "btn btn-outline-info" %>
            
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>